
body {
    background-color: rgb(29, 29, 29);
    overflow: hidden;
}

.text1 {
  position: relative;
    top: -95px;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.text2 {
    position: relative;
    top:-95px;
    color: white;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dwntext1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.dwntext2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 4s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.backgroundimg {
    position: relative;
    top: -1555px;
    z-index: -100;
    filter: blur(1px);
}


.buttondownload {
    font-size: 30px;
    top: 450px;
    position: relative;
    overflow: hidden;
    height: 150px;
    padding: 0 200px;
    border-radius: 1.5rem;
    background: #3d3a4e;
    color: #fff;
    border: none;
    cursor: pointer;
}

.buttondownload .button-content {
    position: relative;
    z-index: 2;
}

.buttondownload::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: 0 50%;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgba(150, 93, 233, 1) 10.8%,
        rgba(99, 88, 238, 1) 94.3%
    );
    transition: transform 0.475s ease;
}

.buttondownload:hover::before {
    transform: scaleX(1);
}



.buttondownloadzip {
    position: relative;
    top: 485px;
    font-size: 25px;
    padding: 20px 60px;
    height: 80px;
    border-radius: 8px;
    background: #3d3a4e;
    color: #fff;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.buttondownloadzip .button-content {
    position: relative;
    z-index: 2; 
    pointer-events: none; 
}

.buttondownloadzip::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: 0 50%;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgba(150, 93, 233, 1) 10.8%,
        rgba(99, 88, 238, 1) 94.3%
    );
    z-index: 1; 
    transition: transform 0.475s ease;
    pointer-events: none; 
}

.buttondownloadzip:hover::before {
    transform: scaleX(1);
}
